@import "./global.css";
@import "./fonts.css";
@import "./utils.css";
.test {
    color: yellow !important;
}

.test {
    color: red !important;
}
.blue_text{
    color: #2D66EE;
}
body {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0px;
}

.site-header {
    z-index: 2;
    margin-top: 8px;
    width: Hug (1,124px)px;
    height: Hug (56px)px;
    padding: 16px 24px 16px 24px;
    gap: 80px;
    border-radius: 12px 12px 12px 12px;
    opacity: 0px;
    display:flex;
    background-color: white;
    position: fixed;
    align-items: center;
    justify-content: space-around;
}
.logo {
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.15399999916553497px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #2D66EE;
    ;

    margin-left: 24;

}
.number {
    margin-left: 8px;
    margin-right: 8px;
}
.email_box{
    margin-left: 16px;
}
.main-navigation {
    width: 324;
    height: 18;
    display: flex;
    align-content:center;
    justify-content:space-between;
}
.nav_point {
    font-family: SF_Pro_Text;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.15399999916553497px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding-left: 12px;
    padding-right: 12px;
}
.contact {
    display: flex;
    justify-content: space-between;
}
.numbers {
    display: flex;
    align-items: center;
}
.email_box {
    display: flex;
    align-items: center;
}

.email{
    padding-left: 8px;
}
.hello_page_wrap{
    width: 100%;
    height: 100%;
    background: #F2F4F7;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hello_page{
    width: 1440px;
    height: 900px;
    gap: 0px;
    opacity: 0px;
}

.hello_text{
    margin-top: 160px;
    margin-left: 108px;
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    line-height: 51.84px;
    letter-spacing: 0.32645100355148315px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.hello_descr {
    font-family: 'SF_Pro_Text';
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.23999999463558197px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 24px;
    margin-left: 108px;
}

.hello_contactform {
    width: 676px;
    height: 186px;
    margin-top: 64px;
    margin-left: 108px;
    background: #FFFFFF;
    top: 444px;
    left: 108px;
    gap: 32px;
    border-radius: 12px 12px 12px 12px;
    opacity: 0px;

}
.hello_form_wrap{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
}
.hello_form_text {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.3799999952316284px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-left: 24px;
    padding-top: 24px;
}
.hello_form_flag{
    width: 16px;
    height: 20px;
}
.hello_phone_wrap{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}
.hello_form_field{
    font-family: "SF_Pro_Text";
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.40799999237060547px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}
.hello_phone{
    width: 224px;
    height: 54px;
    border-bottom: 0.7px solid #D0D5DD;
}
.hello_fullname{
    width: 224px;
    height: 54px;
    border-bottom: 0.7px solid #D0D5DD;
}
.hello_form_form_text{
    font-family: 'SF_Pro_Text';
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.07800000160932541px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 8px;
    color: #667085;
}

.hello_button{
    width: 132px;
    height: 58px;
    border-radius: 8px 8px 8px 8px;
    background: #2D66EE;
    font-family: 'SF_Pro_Text';
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.15399999916553497px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hello_background_wrap{
    position: absolute;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 30% 30%;
    z-index: 0;
}
.img1{
    position: relative;
    left: 700px;
}
.img2{
    position: relative;
    left: 250px;
    bottom: 70px;
}
.img3{
    position: relative;
    top: 70px;
    left: 830px;
}
.img4{
    position: relative;
    left: 380px;
}
.img5{
    position: relative;
    top: 150px;
    left: 960px;
}
.img6{
    position: relative;
    top: 80px;
    left: 510px;
}
.bg-image{
    width: 36%;
    height: auto;
    transform: rotate(-12deg);
    border-radius: 24px;
}

.site-footer{
    width: 1224px;
    height: 222px;
    background-color: #101828;
    display:flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    flex-direction: column;
}
.footer_logo{
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.15399999916553497px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;

}
.footer_info_wrap{
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

.footer_info_text{
    font-family: SF Pro Text;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.15399999916553497px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #98A2B3;
}
.footer_info_main_text{
    font-family: SF Pro Text;
    font-size: 17px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.40799999237060547px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
}
.footer_last_word{
    font-family: SF Pro Text;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.07800000160932541px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
}